.cell{
    width:100px;
    height:100px;
    border:1px solid #111;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
}
.row{
    display:flex;
}

.bg-color{
    color:red;
    background:green;
}

.item{
  font-size:40px;
}
